.burgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    background-color: var(--background-color);
    border-left: 2px solid var(--border-color);

    opacity: 0.9;

    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;

    z-index: 100;

    &.active {
        transform: translateX(0);
    }

    .menuList {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .menuItem {
        opacity: 0;
        transform: translateX(30px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &.active .menuItem {
        opacity: 1;
        transform: translateX(0);
    }

    .menuLink {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--font-color);
        text-decoration: none;
        padding: 10px 20px;
        
        position: relative;
        transition: color 0.2s ease;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 3px;
            background-color: var(--darker-rose-color);
            transition: width 0.3s ease, left 0.3s ease;
        }

        &:hover {
            color: var(--darker-rose-color);

            &::after {
                width: 100%;
                left: 0;
            }
        }

        // Style pour la page active
        &.active {
            color: var(--darker-rose-color);

            &::after {
                width: 100%;
                left: 0;
            }
        }
    }
}