.burgerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 6px;

    height: 60px;
    aspect-ratio: 1;

    border: none;
    background-color: transparent;

    cursor: pointer;

    z-index: 101;

    span {
        display: block;
        background-color: var(--font-color);
        border-radius: 2px;
        height: 3px;
        width: 30px;

        transition: all 0.3s ease;
    }

    // Animation vers X quand actif
    &.active {
        .top {
            transform: translateY(9px) rotate(45deg);
        }

        .middle {
            opacity: 0;
            transform: scaleX(0);
        }

        .bottom {
            transform: translateY(-9px) rotate(-45deg);
        }
    }
}