.header {
    width: 100%;
    min-height: 140px;

    @media screen and (max-width: 600px) {
        min-height: 100px;
    }

    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--border-color);
    border-style: solid;

    display: flex;
    flex-direction: row;

    @media screen and (max-width: 600px) {
        justify-content: space-between;
    }

    align-items: center;
}

.space {
    width: 100px;
}

.smallSpace {
    width: 45px;
}

.maxSpace {
    display: flex;
    flex-grow: 1;
}

.namePart {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 18px;
}

.logo {
    --logo-size: 80px;

    @media screen and (max-width: 600px) {
        --logo-size: 60px;
    }
}

.name {
    font-size: 32px;

    @media screen and (max-width: 600px) {
        font-size: 24px;
    }

    padding: 0;
    padding-top: 5px;
    margin: 0;

    font-family: "AnjaEliane";
}